<% #expects a local :o with an #images association that is made up of carrier waves %>
<% carousel_id = "#{o.class.name.downcase}_carousel" %>
<%= content_tag :div, :id => carousel_id, :class => 'carousel slide', 'data-ride' => 'carousel' do %>
  <ol class="carousel-indicators">
    <% o.images.each_with_index do |img, n| %>
      <%= content_tag :li, '', 'data-target' => "##{carousel_id}", 'data-slide-to' => n,
                      :class => n == 0 ? 'active' : nil %>
    <% end %>
  </ol>

  <div class="carousel-inner">
    <% o.images.each_with_index do |img, n| %>
      <%= content_tag :div, :class => n == 0 ? 'item active' : 'item' do %>
        <div class="inner_carousel_item">
          <%= image_tag img.image_url(:carousel) %>
        </div>
        <div class='carousel-caption'>
          <h3>
            <%= img.description %>
          </h3>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= content_tag :a, '', :href => "##{carousel_id}", :class => 'left carousel-control', 'data-slide' => 'prev' do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
  <% end %>
  <%= content_tag :a, '', :href => "##{carousel_id}", :class => 'right carousel-control', 'data-slide' => 'next' do %>
    <span class="glyphicon glyphicon-chevron-right"></span>
  <% end %>
<% end %>