<% if object.errors.any? %>
  <div id="error_explanation" class="has-error">
    <h3 class="control-label"><%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.name.titlecase %> from being saved:</h3>

    <ul>
      <% object.errors.full_messages.each do |msg| %>
          <li class="control-label"><%= msg %></li>
      <% end %>
    </ul>
  </div>

  <script>
      $(window).load(function(){
          $('.field_with_errors').addClass('has-error');

          <% object.errors.each do |k, v| %>
          $('#<%= "#{object.class.name.underscore}_#{k}" %>').parent('div').append(errorMessage('<%= v %>'));
          $('#<%= "#{object.class.name.underscore}_#{k}_1i" %>').parent('div').append(errorMessage('<%= v %>'));
          <% end %>
      })

      function errorMessage(message){
          return '<span class="help-block text-danger text-center">' + message + '</span>';
  }
  </script>
<% end %>