<%= content_for :title do %>
  <%= facebook_title(@item) %>
<% end %>

<%= content_for :head do %>
  <%= item_og_tags(@item) %>
<% end %>

<div class="container">
  <h1 class="highlight">
    <%= @item.name %>
    <small>
      <%= @item.description %>
    </small>
  </h1>

  <div class="row">
    <div class="col-md-6">
      <%= render :partial => 'order_items/form', :locals => {:item => @item}%>

      <div class="social_networking">
        <%= render :partial => 'parts/social_networking/facebook/like_button' %>
        <%= render :partial => 'parts/social_networking/twitter/tweet_button' %>
        <div id="facebook_fan_page_invitation"></div>
        <div id="twitter_follow_invitation"></div>

        <hr>
        <%= render :partial => 'parts/social_networking/facebook/comments' %>
      </div>

    </div><!--col-->

    <% unless @item.images.count == 0 %>
      <div class="col-md-6">
        <%= express_carousel(@item, :use_indicators => false) %>
      </div><!--col-->
    <% end %>

  </div><!--row-->
</div>

<script>
    var fb_like_callback = function(url, selector){
        $.ajax('<%= ajax_fb_like_path %>');
    };



    var facebook_fan_page_like_button = function(){
        return $.ajax('<%= ajax_fb_like_path %>');
    };

    window.fbAsyncInit = function(){
        FB.Event.subscribe('edge.create', fb_like_callback);
    };
</script>