<div class="container">
  <h1>
    <%= @item.name %>
    <small>
      <%= @item.description %>
    </small>
  </h1>

  <div class="row">
    <div class="col-md-6">
      <%= render :partial => 'order_items/form', :locals => {:order_item => OrderItem.new(:item_id => @item.id)}%>
    </div><!--col-->

    <% unless @item.images.count == 0 %>
      <div class="col-md-6">
        <%= express_carousel(@item) %>
      </div><!--col-->
    <% end %>

  </div><!--row-->

  <div class="row">
    <div class="col-md-6">
      <%= fb_social_plugin item_url(@item) %>
    </div><!--col-->
  </div><!--row-->

</div>
