<%= content_for :title do %>
  <%= facebook_title(@item) %>
<% end %>

<%= content_for :head do %>
  <%= og_tags(@item) %>
<% end %>

<div class="container">
  <h1 class="highlight">
    <%= @item.name %>
    <small>
      <%= @item.description %>
    </small>
  </h1>

  <div class="row">
    <div class="col-md-6">
      <%= render :partial => 'order_items/form', :locals => {:item => @item}%>

      <div id="social_networking">
        <%= render :partial => 'parts/social_networking_specific' %>
      </div>

    </div><!--col-->

    <% unless @item.images.count == 0 %>
      <div class="col-md-6">
        <%= express_carousel(@item, :use_indicators => false) %>
      </div><!--col-->
    <% end %>

  </div><!--row-->
</div>