<%= content_for :title do %>
  <%= "#{STORE_NAME} | #{@item.section.name} | #{@item.name}" %>
<% end %>

<div class="container">
  <h1 class="highlight">
    <%= @item.name %>
    <small>
      <%= @item.description %>
    </small>
  </h1>

  <div class="row">
    <div class="col-md-6">
      <%= render :partial => 'order_items/form', :locals => {:item => @item}%>

      <%= render :partial => 'parts/social_networking_specific' %>

    </div><!--col-->

    <% unless @item.images.count == 0 %>
      <div class="col-md-6">
        <%= express_carousel(@item, :use_indicators => false) %>
      </div><!--col-->
    <% end %>

  </div><!--row-->
</div>



