<!DOCTYPE html>
<html>
<head>
  <title>Weeds</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'parts/top_nav' %>
<%= render :partial => 'parts/flash' %>
<%= render :partial => 'parts/banner' %>


<%= yield %>

</body>
</html>
