<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || STORE_NAME %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'Oregon Weed Dark-20140114-favicon.ico.png' %>
  <!--<link rel="shortcut icon" href="../assets/images/Oregon Weed-dark-favicon.ico.png">-->
</head>
<body>

<%= render :partial => 'parts/top_nav' %>
<%= content_for :below_top_nav %>
<%= render :partial => 'parts/flash' %>
<%= render :partial => 'parts/banner' %>
<%= content_for :below_banner %>

<%= yield %>

<%= render :partial => 'parts/footer' %>

</body>
</html>

